<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <a href="https://www.facebook.com" target ="blank">facebook</a>
    hello{{name}}
    <!-- an ordered list -->
    <ol>  
        {% for i in slug %}
        <li>{{i}}</li>
        {% endfor %}
    </ol>
    <!-- unordered list -->
    <ul>
        {% for i in slug %}
        <!-- list index -->
        <li>{{i}}</li>
        {% endfor %}
    </ul>
    </body>
</html>