<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <h1>Hello from sign_up </h1>
    <form action="/signupAuth" method="POST">
        username:<input name="name" type="text" placeholder="username"><br></br>
        Email:   <input name="email" type="email" placeholder="Enter Email!!!"><br></br>
        password:<input name="password" type="password" placeholder="password">
        <br></br>
        <input type="submit" name="login">
    </form>
    <a href="/login">login</a> 
</body>
</html>