<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>TODO Application </h1>
    <form action="/create" method="POST">
        ID:<input name="id" type="text" placeholder="id">
        <h1 style="font-size:16px;color:red;">id must be unique!</h1>
        Title:<input name="title" type="text" placeholder="title"><br></br>
        Description:<br></br><textarea name="description" rows="5" style="margin: 0px; width: 477px; height: 116px;"></textarea><br></br>
        <input type="submit" style="color: red;">
    </form>
</body>
</html>

